services:
  jobmanager:
    build:
      context: .
      dockerfile: flink-python.Dockerfile
    container_name: flink-jobmanager
    ports:
      - "8081:8081"
    command: jobmanager
    environment:
      - JOB_MANAGER_RPC_ADDRESS=jobmanager
    volumes:
      - ./data:/data  # Crea ./data sul host prima

  taskmanager:
    build:
      context: .
      dockerfile: flink-python.Dockerfile
    depends_on:
      - jobmanager
    command: taskmanager
    environment:
      - JOB_MANAGER_RPC_ADDRESS=jobmanager
    volumes:
      - ./data:/data  # Ora indentato correttamente
    deploy:
      replicas: 2
